client/node_modules
client/.pnp
client/.pnp.*
client/.yarn/*
client/!.yarn/patches
client/!.yarn/plugins
client/!.yarn/releases
client/!.yarn/versions
client/coverage
client/.next/
client/out/
client/build
client/.DS_Store
client/*.pem
client/npm-debug.log*
client/yarn-debug.log*
client/yarn-error.log*
client/.pnpm-debug.log*
client/*.tsbuildinfo
client/next-env.d.ts
client/package-lock.json
client/prisma/migrations
client/prisma/*.sqlite3
client/prisma/*.sqlite3-journal
client/prisma/prisma-engines.zip

server/uploads/*.pdf
server/tmp/*.pdf

.venv*
.env*
.cache*
__pycache__*
